<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Mitra Tani Online</title>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="style/main.css" rel="stylesheet" />
</head>

<body>
    <div class="page-dashboard">
        <div class="d-flex" id="wrapper" data-aos="fade-right">
            <!-- Sidebar -->
            <div class="border-right" id="sidebar-wrapper">
                <div class="sidebar-heading text-center">
                    <img src="images/dashboard-store-logo.svg" class="my-4" alt="" />
                </div>
                <div class="list-group list-group-flush">
                    <a href="dashboard.html" class="list-group-item list-group-item-action">
                        Dasbor
                    </a>
                    <a href="dashboard-products.html" class="list-group-item list-group-item-action">
                        Produk
                    </a>
                    <a href="dashboard-transactions.html" class="list-group-item list-group-item-action">
                        Transaksi
                    </a>
                    <a href="dashboard-settings.html" class="list-group-item list-group-item-action">
                        Pengaturan Toko
                    </a>
                    <a href="dashboard-account.html" class="list-group-item list-group-item-action">
                        Akun
                    </a>
                    <a href="index.html" class="list-group-item list-group-item-action">
                        Keluar
                    </a>
                </div>
            </div>

            <!-- Content -->
            <div id="page-content-wrapper">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-light navbar-store fixed-top" data-aos="fade-down">
                    <div class="container-fluid">
                        <button class="btn btn-secondary d-md-none mr-auto mr-2" id="menu-toggle">
                            &laquo; Menu
                        </button>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <!-- Desktop Menu -->
                            <ul class="navbar-nav d-none d-lg-flex ml-auto">
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link" id="navbarDropdown" role="button"
                                        data-toggle="dropdown">
                                        <img src="images/icon-user.png" alt=""
                                            class="rounded-circle mr-2 profile-picture" />
                                        Hi, User
                                    </a>
                                    <div class="dropdown-menu">
                                        <a href="/dashboard.html" class="dropdown-item">Dashboard</a>
                                        <a href="/dashboard-account.html" class="dropdown-item">Pengaturan</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="/" class="dropdown-item">Keluar</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link d-inline-block mt-2">
                                        <img src="images/icon-cart-filled.svg" alt="Cart" />
                                        <div class="card-badge">3</div>
                                    </a>
                                </li>
                            </ul>

                            <!-- Mobile Menu -->
                            <ul class="navbar-nav d-block d-lg-none">
                                <li class="nav-item">
                                    <a href="#" class="nav-link"> Hi, User </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link d-inline-block">Cart</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <!-- Section Content -->
                <div class="section-content section-dashboard-home" data-aos="fade-up">
                    <div class="container-fluid">
                        <div class="dashboard-heading">
                            <h2 class="dashboard-title">#STORE0839</h2>
                            <p class="dashboard-subtitle">Detail Transaksi</p>
                        </div>
                        <div class="dashboard-content">
                            <div class="dashboard-content" id="transactionDetails">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-12 col-md-4">
                                                        <img src="images/product-details-1.jpg" alt=""
                                                            class="w-100 mb-3" />
                                                    </div>
                                                    <div class="col-12 col-md-8">
                                                        <div class="row">
                                                            <div class="col-12 col-md-6">
                                                                <div class="product-title">
                                                                    Nama Pelanggan
                                                                </div>
                                                                <div class="product-subtitle">
                                                                    Putu Suwastika
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="product-title">Nama Produk</div>
                                                                <div class="product-subtitle">
                                                                    Roundup 1 L
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="product-title">
                                                                    Tanggal Transaksi
                                                                </div>
                                                                <div class="product-subtitle">
                                                                    12 Desember 2021
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="product-title">
                                                                    Status Pembayaran
                                                                </div>
                                                                <div class="product-subtitle text-danger">
                                                                    Pending
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="product-title">
                                                                    Total Pembayaran
                                                                </div>
                                                                <div class="product-subtitle">
                                                                    Rp. 100.000
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="product-title">No Handphone</div>
                                                                <div class="product-subtitle">
                                                                    +6285935241211
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-md-4 mt-3">
                                                        <h5>Informasi Pengiriman</h5>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <div class="col-12 col-md-6">
                                                                <div class="product-title">Alamat</div>
                                                                <div class="product-subtitle">
                                                                    Banjar Dinas Taman Sari
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="product-title">Kecamatan</div>
                                                                <div class="product-subtitle">Sukasada</div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="product-title">Provinsi</div>
                                                                <div class="product-subtitle">Bali</div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="product-title">Kabupaten</div>
                                                                <div class="product-subtitle">Buleleng</div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="product-title">Kode Pos</div>
                                                                <div class="product-subtitle">81153</div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="product-title">Kurir</div>
                                                                <div class="product-subtitle">JNE</div>
                                                            </div>
                                                            <div class="col-12 col-md-3">
                                                                <div class="product-title">Status</div>
                                                                <select name="status" id="status" class="form-control"
                                                                    v-model="status">
                                                                    <option value="BELUM BAYAR">
                                                                        Belum Bayar
                                                                    </option>
                                                                    <option value="TERTUNDA">Tertunda</option>
                                                                    <option value="DIKIRIM">Dikirim</option>
                                                                    <option value="SELESAI">Selesai</option>
                                                                </select>
                                                            </div>
                                                            <template v-if="status == 'DIKIRIM'">
                                                                <div class="col-md-3">
                                                                    <div class="product-title">Input Resi</div>
                                                                    <input type="text" class="form-control" name="resi"
                                                                        v-model="resi" />
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <button class="btn btn-success btn-block mt-4"
                                                                        type="submit">
                                                                        Perbarui Resi
                                                                    </button>
                                                                </div>
                                                            </template>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 text-right">
                                                        <button class="btn btn-success mt-4 px-5" type="submit">
                                                            Simpan
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.slim.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    <script src="/vendor/vue/vue.js"></script>
    <script>
        let transactionDetails = new Vue({
            el: "#transactionDetails",
            data: {
                status: "SHIPPING",
                resi: "JNE20839149021029301231",
            },
        });
    </script>
</body>

</html>
